#container{
    max-width: 672px;
    max-height: 672px;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-flow: wrap;
    margin-top: 20px;
}

.block{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    flex-shrink: 1;
}

.black{
    background-color: black;
}

.block2{
    width: 100px;
    height: 20px;
    border: 1px solid black;
    flex-shrink: 1;
    flex-grow: 1;
}

.row{
    display: flex;
    flex-shrink: 1;
    max-width: 672px;
}

body{
    display: flex;
    justify-content: center;
}

.centerit{
    margin: auto;
    width: 50%;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

.innerbody{
    display: flex;
    flex-direction: column;
    
}

.header{
    margin-left: 265px;
}

.Clear{
    margin-top: 5px;
}

.sixteen{
    max-width: 100px;
}

.thirtytwo{
    max-width: 100px;
}

.sixtyfour{
    max-width: 100px;
}

.footer{
    margin-left: 280px;
}
